<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Usuarios</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<header th:include="/fragments/navigation.html::header"> </header>
	<hr>

	<a th:href="@{/usuario/anhadir}">Añadir</a>

	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center"><span>Id</span></th>
				<th class="text-center"><span>Email</span></th>
				<th class="text-center"><span>Clave</span></th>
				<th class="text-center"><span>Nombre</span></th>
				<th class="text-center"><span>Primer Apellido</span></th>
				<th class="text-center"><span>Segundo Apellido</span></th>
				<th class="text-center"><span>Direccion</span></th>
				<th class="text-center"><span>Localidad</span></th>
				<th class="text-center"><span>Telefono</span></th>
				<th class="text-center"><span>DNI</span></th>
				<th class="text-center"><span>Operar</span>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr th:each="usuario : ${usuarios}">
				<td><a class="text-center" th:text="${usuario.id}">ID</a></td>
				<td class="text-center"><span class="label"
					th:text="${usuario.email}">Email</span></td>
				<td><a th:text="${usuario.clave}">Clave</a></td>
				<td><a th:text="${usuario.nombre}">Nombre</a></td>
				<td><a th:text="${usuario.apellido1}">Primer Apellido</a></td>
				<td><a th:text="${usuario.apellido2}">Segundo Apelldido</a></td>
				<td><a th:text="${usuario.direccion}">Direccion</a></td>
				<td><a th:text="${usuario.localidad}">Localidad</a></td>
				<td><a th:text="${usuario.telefono}">Telefono</a></td>
				<td><a th:text="${usuario.dni}">DNI</a></td>
				<td style="width: 10%;">
					<p>
						<a th:href="@{usuario/editar/{id}(id=${usuario.id})}">Editar</a> <a th:href="@{usuario/baja/{id}(id=${usuario.id})}">Eliminar</a>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<footer th:replace="/fragments/footer.html::footer"></footer>
</body>
</html>