<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pedidos</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<header th:include="/fragments/navigation.html::header"> </header>
	<hr>
	<h1>Pedidos</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center"><span>Fecha</span></th>
				<th class="text-center"><span>Método de pago</span></th>
				<th class="text-center"><span>Estado</span></th>
				<th class="text-center"><span>Nº Factura</span></th>
				<th class="text-center"><span>Total</span></th>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr th:each="pedido : ${pedidos}">
				<td><a th:text="${pedido.fecha}">Fecha</a></td>
				<td><a th:text="${pedido.metodo_pago}">Método de pago</a></td>
				<td><a th:text="${pedido.estado}">Estado</a></td>
				<td><a th:text="${pedido.num_factura}">Nº Factura</a></td>
				<td><a th:text="${pedido.total}">Total</a></td>
				<td style="width: 10%;">
					<p>
						<a th:href="@{pedido/eliminar/{id}(id=${pedido.id})}">Eliminar</a>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<footer th:replace="/fragments/footer.html::footer"></footer>
</body>
</html>